.content{
    grid-area: c;
    background-color: rgb(215, 210, 210);
    height: 100vh;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
  }
.buttonMore{
  display: inline-block;
  width: 300px;
  font-size: 24px;
  margin: 0 auto;
  
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px 10px;
  cursor: pointer;
}
.container{
  width:500px;
  margin:0 auto;
}

   