.userAvatar{
  width: 80px;
  height: 80px;
  margin-right: 25px;
}
.container{
  margin-bottom: 20px;
}
.userInfo{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
.country{
  margin-left: auto;

}
.user{
  display: flex;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 15px 15px 0px 15px;
  margin-bottom: 5px;
}
.userText{
  margin-right: 25px;
}
.button{
  margin-left: 15px;
  padding: 5px;
  border-radius: 10px;
}

   
